div {
    text-align:center;
    text-size:10px;
    background-color: #ffa500;
    width: 350px;
    padding: 30px;
    margin: 20px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top:30%;
    transform: translate(-50%, -50%);
}

